extends layout

block content
  h1 Job fetcher preview
  p Welcome to #{title}
  p
    button(id="upd_btn", type="button") Update Pole Emploi
    | &nbsp;
    span(id="processMsgArea", class="tempMsg")
  table(id="fetchTableResults", class="fetchTable")
    thead
      tr
        th ID
        th Date
        th Intitulé
        th Entreprise
        th Description
        th Lieu
        th Type de contrat
    tbody
      each val in jobs
        tr
          td #{val.id}
          td #{val.date}
          td #{val.intitule}
          td #{val.entreprise}
          td #{val.description}
          td #{val.lieu}
          td #{val.contrat}
  script(src="jquery/jquery.js")
  script(src="javascripts/job_fetcher.js")